#gestionDiaria,
#gestionMensual {
    display: none;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.container .btn {
    display: inline-block;
    cursor: pointer;
}

.container .btn-prev {
    margin-right: 10px;
}

.container .btn-next {
    margin-left: 10px;
}

/* ==================================================
   GESTIÓN DIARIA 
   ================================================== */
#tablaGestionDiaria {
    border:1px #014179 solid;
    border-collapse: collapse;
    width: 60%;
    margin:40px auto;
    table-layout: auto;
}

#tablaGestionDiaria thead tr th{
    height:50px;
    background-color:#014179;
    color:white;
    text-align: center;
    vertical-align: middle;
}

#tablaGestionDiaria th,
#tablaGestionDiaria td {
    font-size: larger;
    border:1px #014179 solid;
    padding: 12px;
    text-align:center;       /* ← centrado horizontal */
    vertical-align: middle;  /* ← centrado vertical */
    width: auto !important;
}

#tablaGestionDiaria thead tr.datos th{
    border:none;
    background-color: white;
    color:#014179;
}

#tablaGestionDiaria textarea {
    width: 100%;
    min-height: 70px;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    text-align: center;
}


/* ==================================================
   GESTIÓN MENSUAL 
   ================================================== */
#tablaGestionMensual {
    border:1px #014179 solid;
    border-collapse: collapse;
    width: 90%;
    margin:40px auto;
    table-layout: auto;
}

#tablaGestionMensual thead tr th{
    height:50px;
    background-color:#014179;
    color:white;
    text-align: center;
    vertical-align: middle;
}

#tablaGestionMensual th,
#tablaGestionMensual td {
    font-size: larger;
    border:1px #014179 solid;
    padding: 12px;
    text-align:center;
    vertical-align: middle;
    width: auto !important;
}

#tablaGestionMensual thead tr.datos th{
    border:none;
    background-color: white;
    color:#014179;
}

#tablaGestionMensual textarea {
    width: 100%;
    min-height: 70px;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    text-align: center;
}


/* ==================================================
   GESTIÓN PADRES 
   ================================================== */
#buscador {
    margin:0 auto;
    width:40%;
    text-align: center;
}

#buscador input {
    width:80%;
}

#tablaGestionPadres {
    border:1px #014179 solid;
    border-collapse: collapse;
    width: 90%;
    margin:40px auto;
    max-width: 90%;
    table-layout: auto;
}

#tablaGestionPadres thead tr th{
    height:50px;
    background-color:#014179;
    color:white;
    text-align: center;
    vertical-align: middle;
}

#tablaGestionPadres th,
#tablaGestionPadres td {
    font-size: larger;
    border:1px #014179 solid;
    padding: 12px;
    text-align:center;
    vertical-align: middle;
    width: auto !important;
}

#tablaGestionPadres tbody td {
    text-align: center;
    vertical-align: middle;
}

#tablaGestionPadres tbody tr > td:nth-of-type(4) {
	font-size: 0.8rem;
}

#tablaGestionPadres .nombrePadre {
    cursor: pointer;
}

#tablaGestionPadres .nombrePadre:hover {
    color: white;
    background-color: rgb(230, 143, 13);
}

#tablaGestionPadres .btn-info{
    min-width: 150px;
}


/* ============================
        RESPONSIVE
   ============================ */
@media screen and (max-width: 400px) {
    #tablaGestionDiaria,
    #tablaGestionMensual,
    #tablaGestionPadres {
        width: 85%;
        font-size: 0.85em;
    }
}

div#divExitoModificacion {
    margin-top: 20px;
    margin-bottom: -20px;
}

/* Q19 */
div#divQ19 > div{
	margin-left: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

div#divQ19 label {
	font-weight: bold;
	color: navy;
}

div#divQ19 > h2:nth-of-type(2) {
	float: left;
}

div#divQ19 > img {
	float: right;
	cursor: pointer;
	border-radius: 0.3rem;
}

div#divQ19 > img:hover {
	background-color: lightblue;
}

/* Menú */
#menuSecretaria {
    position: relative;
    z-index: 2000;
}

#menuSecretaria ul li {
    cursor: pointer;
}

#gestionMenus {
    position: relative;
    z-index: 1;
}
